/* Banner sits at the very top of the scrollable note body */
.image-header-wrapper {
  width: 100%;
  height: 180px;          /* must match the JS constant */
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.image-header-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Smaller banner on phones */
@media (max-width: 480px) {
  .image-header-wrapper {
    height: 150px;
  }
}
