.image-header-banner {
  width: 100%;          
  height: 180px;        
  object-fit: cover;    
  display: block;       
  margin-bottom: 0.5rem; 
  border-radius: 0;     
}

.is-mobile .image-header-banner {
  height: 120px;       
  margin-bottom: 0.3rem; 
}

.markdown-preview-view h1:first-of-type,
.markdown-source-view h1:first-of-type {
  margin-top: 0.2rem; 
}
